### Java ###
# Compiled class files
*.class

# Log files
*.log

# JAR, WAR, and EAR files
*.jar
*.war
*.ear

### Build System ###
# Maven
target/
target/**
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next

# Gradle
.gradle/
build/
gradle.properties
gradlew
gradlew.bat

### Eclipse ###
# Eclipse project settings
.project
.classpath
.settings/

# Eclipse-specific files
# Local history
.localhistory/

# Eclipse IDE's workspace-specific settings
*.launch
*.prefs
*.cproject
*.settings/

### IntelliJ IDEA ###
# IntelliJ IDEA project files
.idea/

# IntelliJ IDEA-specific files
*.iml
*.ipr
*.iws

# IDE caches
.idea/caches/
.idea/workspace.xml
.idea/modules.xml

# IntelliJ specific directory
.idea/**

### OS-Specific ###
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
